@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=latin-ext');

body {
  background-image: url(../../assets/background-image.png);
  background-size: cover;
  font-family: 'Amatic SC', sans-serif;
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
      display: flex;
      align-items: center;
      h1 {
        color: darkslategray;
        font-size: 5rem;
        text-align: center;
        @media (min-width: 450px) {
          font-size: 6rem;
        }
      }
    }
    footer {
      margin-top: auto;
      display: flex;
      color: white;
      font-size: 2rem;
      opacity: 0.8;
      a {
        display: flex;
        text-decoration: none;
        color: white;
        opacity: 0.8;
      }
      .li-icon {
        margin: auto 1rem;
        &:hover {
          color: lightgreen;
          transition: 0.1s ease-in-out;
        }
      }
      .git-icon {
        margin: auto 0;
        &:hover {
          color: lightgreen;
          transition: 0.1s ease-in-out;
        }
      }
    }
  }
}

