@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=latin-ext');

body {
  background-image: url(../../assets/background-image.png);
  background-size: cover;
  font-family: 'Amatic SC', sans-serif;
  color: black;
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
      h1 {
        margin: 1rem 0;
        text-align: center;
        border: none;
        border-radius: 3rem;
        padding: 0.5rem 3rem;
        background-color: #397A4C;
        color: white;
        font-size: 3rem;
      }
    }
    footer {
      display: flex;
      color: white;
      font-size: 2rem;
      margin-top: auto;
      opacity: 0.8;
      a {
        display: flex;
        text-decoration: none;
        color: white;
        opacity: 0.8;
      }
      .li-icon {
        margin: auto 1rem;
      }
      .git-icon {
        margin: auto 0;
      }
    }
  }
} 

.cloud {
  font-size: 3rem;
}