@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=latin-ext');

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        margin: 0.3rem;
        border: 0.1rem solid transparent;
        outline: none;
        border-radius: 3rem;
        width: 70%;
        padding: 0.5rem;
        color: darkslategrey;
        text-align: center;
        font-family: 'Amatic SC', sans-serif;
        font-size: 2rem;
    }
    input:focus {
        border: 0.1rem solid #397A4C;
    }
    input::placeholder {
        color: darkslategrey;
    }
    button {
        width: 50%;
        border: none;
        border-radius: 3rem;
        padding: 0.5rem;
        margin: 0.2rem;
        font-size: 2rem;
        font-weight: 700;
        background-color: #397A4C;
        font-family: 'Amatic SC', sans-serif;
        color: white;
        outline: none;
    }
}